<div class="body2">
  <section class="blog">
    <h2 class="p-10 pt-16">Your Ultimate Beach Escape!</h2>
    <p>Are you ready to embark on a beach adventure like no other?</p>
    <p>
      Look no further than Sunset Paradise, the jewel in the crown of our
      beachfront paradise collection! With pristine shores, crystal-clear
      waters, and a plethora of activities to indulge in, Sunset Paradise is
      your ticket to sun-soaked bliss. 🏖️
    </p>
    <div class="cards">
      <div class="card">
        <a routerLink="patika">
          <img src="/assets/DGJgUipJ_400x400.jpg" alt=""/>
          <div class="overlay-patika">
            <h3>Patika</h3>
            <p>
              Patika.com offer intensive 3-6 month programs in Java and React, two of the hottest skills in the market.
              Backed by our employer network, our program is designed to get your foot in the door. And if you don't
              find a job after graduation, we'll refund your fee! That's how confident we are in our program.
              ‍Only available in Turkish!
          </div>
        </a>
      </div>

      <div class="card">
        <a routerLink="coderspace">
          <img src="/assets/logo-mor-white.png" alt=""/>
          <div class="overlay-coderspace">
            <h3>CoderSpace

            </h3>
            <p>
              Nerede Çalışacağına Sen Karar Ver!
              Coderspace, Türkiye ve Avrupa’nın farklı şehirlerindeki şirketlerle çalışıyor.
              Uzaktan, ofisten veya farklı şehirlerden… Çalışmak istediğin yeri seç, şirketler sana başvursun! </p>
          </div>
        </a>
      </div>


      <div class="card">
        <a routerLink="techcareer">
          <img src="/assets/img.png" alt=""/>
          <div class="overlay-techcareer">
            <h3>TechCareer

            </h3>
            <p>
              Teknoloji alanında kariyer yapmak istiyor ancak hangi pozisyonu seçeceğini veya seçtiğin pozisyonda hangi
              adımlardan geçmen gerektiğini bilmiyorsan, Kariyer Rehberi ile en doğru yerdesin!
            </p>
          </div>
        </a>
      </div>


    </div>

    <p>
      Join us at Sunset Paradise and let the magic of the beach whisk you away
      to a world of sun, sea, and smiles! 🏝️✨
    </p>
  </section>
<app-team></app-team>
</div>
