@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Mooli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Comfortaa", cursive;
}

.body2 {
  min-height: 100dvh;
  overflow-x: hidden;
  background: white;
  font-family: "Mooli", sans-serif;

}



#title {
  position: absolute;
  top: 13%;
  font-size: clamp(2rem, 6vw, 4rem);
  color: white;
  z-index: 50;
}

.blog {
  position: relative;
  padding: 120px 150px 20px;
  background:linear-gradient(
    to bottom,
    rgba(83, 81, 81, 0.9),
    rgba(50, 50, 50, 0.9),
    rgba(23, 23, 23, 0.9),
    rgba(0, 0, 0, 0.9)
  );
}



.blog h2 {
  font-size: clamp(2rem, 6vw, 3rem);
  color: white;
  margin: 60px 0 40px;
  text-align: center;
}

.blog p {
  font-size: clamp(1rem, 6vw, 1.3rem);
  color: white;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.5;
}

.cards {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 60px 60px;
  background:  linear-gradient(
    to bottom,
    rgba(83, 81, 81, 0.9),
    rgba(50, 50, 50, 0.9),
    rgba(23, 23, 23, 0.9),
    rgba(0, 0, 0, 0.9)
  );
  background: transparent;
}

.card {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 450px);
  background-color: #fff;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 30px 40px;
}

.card img {
  display: block;
  width: 100%;
  max-width: 250px;
  aspect-ratio: 1/1;
  margin: 20px;
}

.card h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 20px 0 20px;
  text-align: center;
  color: #000;
}

.card p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
  color: #000;
}

.overlay-patika {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(246, 134, 3, 0.9),
    rgba(227, 123, 7, 0.9),
    rgba(170, 78, 5, 0.9),
    rgba(165, 74, 6, 0.9)
  );
  border-radius: 20px;
  list-style: none;
  z-index: 1;
  opacity: 0;
  padding: 20px 40px;
  transition: all 0.4s ease-in-out;
}

.overlay-patika:hover {
  opacity: 1;
  cursor: default;
}
.overlay-techcareer:hover {
  opacity: 1;
  cursor: default;
}
.overlay-coderspace:hover {
  opacity: 1;
  cursor: default;
}

.overlay-coderspace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(156, 82, 241, 0.9),
    rgba(124, 34, 174, 0.9),
    rgba(77, 7, 133, 0.9),
    rgba(51, 10, 96, 0.9)
  );
  border-radius: 20px;
  list-style: none;
  z-index: 1;
  opacity: 0;
  padding: 20px 40px;
  transition: all 0.4s ease-in-out;
}
.overlay-techcareer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,

    rgba(70, 151, 70, 0.9),
    rgba(23, 170, 57, 0.9),
    rgba(33, 122, 81, 0.9),
    rgba(28, 76, 8, 0.9)


  );
  border-radius: 20px;
  list-style: none;
  z-index: 1;
  opacity: 0;
  padding: 20px 40px;
  transition: all 0.4s ease-in-out;
}

.overlay:hover {
  opacity: 1;
  cursor: default;
}

.overlay:hover {
  opacity: 1;
  cursor: default;
}

@media (max-width: 1300px) {

  #title {
    top: 16%;
  }

  .parallax {
    height: 120dvh;
  }

  .blog {
    padding: 100px 120px 20px;
  }
}

@media (max-width: 900px) {
  .navigation li {
    margin-left: 10px;
  }

  #title {
    top: 20%;
  }

  .blog {
    padding: 90px 100px 20px;
  }

  .cards {
    padding: 40px 40px;
  }

  .card h3 {
    margin: 20px 0 20px;
  }
}

@media (max-width: 600px) {
  .navigation li {
    margin-left: 5px;
  }



  #title {
    top: 40%;
  }

  .blog {
    padding: 90px 40px 20px;
  }

  .blog p {
    font-size: 1rem;
  }

  .card {
    width: min(100%, 450px);
  }

  .card h3 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.85rem;
    text-align: unset;
  }
}
